table {
  font-family: arial, sans-serif;
  width: 80%;
  font-size: 14px;
  border-collapse: collapse;
}

table thead th {
  color: #ffffff;
  background: #004976;
  padding: 15px;
  border: 1px solid #ebebec;
  font-weight: 500;
}

table tr {
  background: red;
}

table tr td {
  border: 1px solid #e6edf1;
  padding: 15px;
}

@media only screen and (max-width: 640px) {
  table thead {
    display: none;
  }

  table tbody {
    display: block;
  }

  table tbody tr td {
    display: flex;
    align-items: center;
    padding: 0;
  }

  table tbody tr {
    margin-bottom: 20px;
    display: block;
    border: 1px solid #004976;
    background: #f9f9f9;
    overflow: hidden;
  }

  table tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    width: 30%;
    display: flex;
    background: #004976;
    color: #fff;
    padding: 15px;
    margin-inline-end: 10px;
  }
}